<!-- {{checked}} -->
<table class="ui compact celled definition table">
  <thead>
    <tr>
      	<th></th>
      	<th>需求ID</th>
      	<th>需求名称</th>
        <th>需求类型</th>
        <th>业务类型</th>
        <th>提交人</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="x in dataList | slice : (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage" ng-show="!dataFormat[x.demandID].dontShow">
      	<td class="collapsing">
      	  	<div class="ui fitted slider checkbox">
      	  	  	<input type="checkbox" ng-model="checked[x.demandID]"><label></label>
      	  	</div>
      	</td>
      	<td><div ng-bind="x.demandID"></div></td>
      	<td>
      		<div ng-bind="x.name" ng-click="checked[x.demandID]=true"></div>
      	</td>
        <td>
            <div ng-bind="x.dtype" ng-click="checked[x.demandID]=true"></div>
        </td>
        <td>
            <div ng-bind="x.business" ng-click="checked[x.demandID]=true"></div>
        </td>
        <td>
            <div ng-bind="x.submitterName" ng-click="checked[x.demandID]=true"></div>
        </td>
    </tr>
  </tbody>
  <tfoot class="full-width">
    <tr>
      	<th></th>
      	<th colspan="5">
      	  	<div class="ui red mini button" ng-click="delItems()">删除</div>
      	</th>
    </tr>
    <tr ng-show="pages>1">
        <th colspan="4">
            <div class="ui right floated pagination menu">
                <a class="icon item" ng-click="changePage(currentPage-1 > 0 ? currentPage-1 : 1)"><i class="left chevron icon"></i></a>
                <a class="item" ng-show="pages>5 && currentPage>3" ng-click="changePage(currentPage-5 > 0 ? currentPage-5 : 1)">...</a>
                <a class="item {{currentPage==$index+1 ? 'active' : ''}}" 
                    ng-repeat="x in pagination track by $index"
                    ng-show="pages<=5 || ((currentPage-$index-1<=2) && (currentPage-$index-1>=-2)) || (currentPage<3 && $index+1<=5) || (currentPage>pages-2 && $index+1>=pages-4)"
                    ng-click="changePage($index+1)">{{$index+1}}
                </a>
                <a class="item" ng-show="pages>5 && currentPage<pages-2" ng-click="changePage(currentPage+5 <= pages ? currentPage+5 : pages)">...</a>
                <a class="icon item" ng-click="changePage(currentPage+1 <= pages ? currentPage+1 : pages)"><i class="right chevron icon"></i></a>
            </div>
        </th>
    </tr>
  </tfoot>
</table>

<div class="ui small basic modal confirmdel">
	<div class="ui icon header">
		<i class="remove user icon"></i>警告
	</div>
	<div class="content" style="text-align:center;">
		<p>你将无法恢复这些数据，确认继续?</p>
	</div>
	<div class="actions">
		<div class="ui red basic inverted button" ng-click="cancelDelItems()">
		  	<i class="remove icon"></i>不
		</div>
		<div class="ui green basic inverted button" ng-click="confirmDelItems()">
		  	<i class="checkmark icon"></i>是
		</div>
	</div>
</div>